/* &display=swap */

@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */

.page {
	font-family: "lato", sans-serif;
	color: rgba(30, 33, 44, 1);
	max-width: 810px;
	margin: 0 auto;
}

h1 {
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
	margin: 30px 0 26px;
}

.day-time {
	color: rgba(120, 122, 128, 1);
	margin: 0 0 40px;
}

.day {
	display: inline-block;
	background: url("../img/calendar.svg") 0 0 / auto no-repeat;
	padding-left: 23px;
	margin-right: 24px;
}

.time {
	display: inline-block;
	background: url("../img/clock.svg") 0 0 / auto no-repeat;
	padding-left: 24px;
}

.img-top {
	margin: 0 0 60px;
}

.text-1 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 24px;
}

.text-2 {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
	margin: 0 0 48px;
}
.text-2-part-1 {
	margin-bottom: 24px;
}

.text-3 {
	background: url("../img/Rectangle267.png") 0 0 / auto no-repeat,
		url("../img/Rectangle268.png") 18px 0 / auto no-repeat;

	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 48px 0px;
	padding: 0 0 0 58px;
}

.text-4 {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
	margin: 0 0 24px;
}

.list {
	margin: 0 0 24px 0px;
}

.checked-list {
	background: url("../img/check.svg") 0 4px / auto no-repeat;
	min-height: 14.67px;
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
	margin-bottom: 4px;
	padding: 0 0 0 31px;
}

.text-5 {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
	margin-bottom: 20px;
}

.button-2 {
	padding: 20px 293px;
}

.link {
	display: inline-block;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(113, 30, 145, 1) 35%, rgba(0, 212, 255, 1) 100%);
	text-align: center;
	padding: 0 30px 0 30px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 3.14;
	color: rgba(255, 255, 255, 1);
}

/* ===========================Home work #7_2 FIGMA===================== */

.page-2 {
	font-family: "lato", sans-serif;
	color: rgba(66, 69, 81, 1);
	max-width: 390px;
	margin: 0 auto;
}

.text {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px 0 8px;
	line-height: 1.5;
	color: rgba(30, 33, 44, 1);
}
.title {
	font-weight: 700;
	font-size: 46px;
	line-height: 1.3;
	color: rgba(30, 33, 44, 1);
	margin: 0 0 40px;
}

.list-check {
	margin-bottom: 22px;
}
.list-check-text {
	background: url("../img/check.svg") 0 4px / auto no-repeat;
	min-height: 14.67px;
	line-height: 1.3;
	padding: 0 0 0 32px;
	margin: 0 0 12px 0;
}

.button {
	display: inline-block;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	text-align: center;
	padding: 0 32px 0 32px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 3.14;
	color: rgba(255, 255, 255, 1);
}
